
/* wall header */

#header{ background: transparent url(images/options/header-x-wall-center.jpg) no-repeat center top; }
#header-wrap{ background: transparent url(images/options/header-x-wall.jpg) repeat-x center top; }