
/* wood header */

#header{ background: transparent url(images/options/header-x-wood-center.jpg) no-repeat center top; }
#header-wrap{ background: transparent url(images/options/header-x-wood.jpg) repeat-x center top; }