
/* default header */

#header{ background: transparent url(images/header-center.jpg) no-repeat center top; }
#header-wrap{ background: transparent url(images/header-bg.jpg) repeat-x center top; }