
/* default sidebar titles */

.box .titlewrap{ background: transparent url(images/box-title-left.png) no-repeat top left; }
.box .titlewrap h4{ background: transparent url(images/box-title-bg.png) no-repeat top right; }


